<!DOCTYPE html>
<html>
  <head>
    <title>TriviaGameApp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% flash.each do |name, message| %>
  <div class="alert alert-<%= name %> alert-dismissible" role="alert">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span></button>
    <% if message.is_a?(Array) %>
    <ul>
      <% message.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
    <% else %>
      <h5><%= message %></h5>
    <% end %>
  </div>
  <% end %>
    <%= yield %>
  </body>
</html>
